[Unit]
Description=Jellyfind media server container

[Container]
Image=docker.io/jellyfin/jellyfin:latest
AutoUpdate=registry
Network=homelab
PublishPort=8096:8096/tcp
Volume=/mnt/media/config:/config:Z
Volume=/mnt/media/cache:/cache:Z
Environment=JELLYFIN_DATA_DIR=/var/lib/jellyfin
Volume=/mnt/media/data:/var/lib/jellyfin:Z
Volume=/mnt/media:/media:Z
AddDevice=nvidia.com/gpu=all

[Service]
SuccessExitStatus=0 143
Restart=always

[Install]
WantedBy=default.target
